* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "assistant";
}
:root {
  --color-main-blue: 84, 112, 254;
}
body {
  direction: rtl;
  width: 100vw;
  height: 100vh;
}
nav {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: white;
  box-shadow: 0 1rem 5rem rgba(var(--color-main-blue), 0.6);
  transition: all 0.3s ease;
}
nav:hover {
  box-shadow: 0 0 2rem rgba(var(--color-main-blue), 0.5);
}
nav a {
  flex-grow: 1;
  transition: all 0.3s ease;
  text-decoration: none;
  color: rgb(var(--color-main-blue));
  font-size: 16px;
}
nav a:hover,
nav .active {
  font-weight: 900;
  font-size: 18px;
}
img {
  width: 100px;
  border: 0;
}
